<!-- Word Cloud -->
<div class="panel panel-default democrat row">
  <div class="panel-heading">
    <h3 class="panel-title">Word Cloud</h3>
  </div>
  <div class="panel-body">
    <div class="well row">
      <p>
        Describe word cloud, add key etc.
      </p>
    </div>
    <wordcloud words="appCtrl.hillary_words" color="appCtrl.dem_blue"></wordcloud>
  </div>
</div>

<!-- DC Charts -->
<div class="panel panel-default democrat">
  <div class="panel-heading">
    <h3 class="panel-title">DC Charts</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <debate-charts debate="appCtrl.hillary_words"></debate-charts>
      </div>
    </div>
  </div>
</div>
