<!-- Banner -->
<div class="row">
  <div id="banner" class="col-md-12 vertical-center horizontal-center">
    <div class="text-center jumbotron">
      <h1>Decision 2016</h1>
      <h2>Semantic Analysis of Tweets</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <button class="btn btn-default">Get Source</button>
          <button class="btn btn-default">Paper Link</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header Bar -->
<div id="header-wrapper">
  <div id="header-bar" class="row" data-offset-top="200">
    <div class="col-md-6 col-xs-12 democrat text-center">
      <h2>Hillary Clinton</h2>
    </div>
    <div class="col-md-6 col-xs-12 republican text-center">
      <h2>Donald Trump</h2>
    </div>
  </div>
</div>
