@import "mixins";

#banner {
  @include boxShadow;
  height: 350px;

  background-image: asset-url("whitehouse.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;

  h1 {
    font-size: 4em;
    color: white;
  }

  h2 {
    font-size: 2em;
    color: white;
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  div.jumbotron {
    @include textShadow;
    @include boxShadow;
    background: rgba(230, 230, 230, 0.35);
    margin-top: -5px;

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      padding-bottom: 20px;
      a {
        margin-bottom: 5px;
      }
    }

  }
}

#header-wrapper {
  min-height:50px;
  margin-bottom: 15px;
  position: relative;

  #info-button {
    position: absolute;
    z-index: 10;

    width: 50px;
    height: 50px;
    margin-left: -25px;

    top: -40%;
    left: 50%;

    background-color: rgba(0,0,0,0.7);
    border: 3px solid white;
    border-radius: 25px;
    color: white;
    line-height: 1em;
    font-size: 2em;

    &:hover {
      background-color: rgba(150,150,150,0.7);
    }
  }

  #header-bar {
    div {
      &.democrat {
        @include textShadow;
        @include boxShadow;
        color: white;
        background-color: $democrat_blue;
      }
      &.republican {
        @include textShadow;
        @include boxShadow;
        color: white;
        background-color: $republican_red;
      }
    }
  }

}
