<!-- Banner -->
<div id="banner" class="row">
  <div class="col-md-12 col-xs-12 horizontal-center">
    <div class="text-center jumbotron">
      <h1>Decision 2016</h1>
      <h2>Semantic Analysis of Tweets</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <a href="https://bitbucket.org/nicklaus_glyder/debate-visualization"
              class="btn btn-default">Get Source</a>
          <a href="#"
              class="btn btn-default">Paper Link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="more-info" class="row collapse">
  <!-- ****************** Announcement ******************* -->
  <div class="jumbotron notice col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    <p>
      The following charts and graphics have been compiled from nearly <mark>*300,000</mark> tweets collected during the
      second and third Presidential Debates held on October 9, 2016 and October 19, 2016.
    </p>
    <p>
      These tweets were passed through a <mark>*semantic analyzer</mark> which attempts to
      determine the positivity or negativity of the author's language. Each tweet was then analyzed for keyword content
      and to determine which candidate was the subject of the tweet.
    </p>
    <p>
      We would like to thank Twitter and all those who's tweets we used in our
      attempt to understand the national conversation and strong emotions behind this historic election!
    </p>
    <small>*For more information, a link to our research paper and methodologies can be found above</small>
  </div>
</div>

<!-- Header Bar -->
<div id="header-wrapper">
  <button id="info-button"
          class="btn btn-default"
          href="#more-info"
          data-toggle="collapse">
    <span class="fa fa-question"></span>
  </button>
  <div id="header-bar" class="row">
    <div class="col-md-6 col-xs-6 democrat text-center">
      <h2>Hillary Clinton</h2>
    </div>
    <div class="col-md-6 col-xs-6 republican text-center">
      <h2>Donald Trump</h2>
    </div>
  </div>
</div>
