@import "mixins";

#banner {
  height: 400px;

  background-image: asset-url("whitehouse.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    font-size: 60px;
    color: white;
  }

  h2 {
    font-size: 35px;
    color: white;
  }

  .jumbotron {
    @include textShadow;
    @include boxShadow;
    background: rgba(230, 230, 230, 0.35);
  }
}

#header-wrapper {
  min-height:50px;
  margin-bottom: 15px;

  #header-bar {
    div {
      &.democrat {
        @include textShadow;
        @include boxShadow;
        color: white;
        background-color: $democrat_blue;
      }
      &.republican {
        @include textShadow;
        @include boxShadow;
        color: white;
        background-color: $republican_red;
      }
    }
  }

}
