@import "mixins";

#banner {
  @include boxShadow;
  height: 350px;

  background-image: asset-url("whitehouse.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;

  h1 {
    font-size: 60px;
    color: white;
  }

  h2 {
    font-size: 35px;
    color: white;
  }

  div.jumbotron {
    @include textShadow;
    @include boxShadow;
    background: rgba(230, 230, 230, 0.35);
    margin-top: -5px;
  }
}

#header-wrapper {
  min-height:50px;
  margin-bottom: 15px;
  position: relative;

  #info-button {
    position: absolute;
    width: 100px;
    margin-left: -50px;
    top: -25%;
    left: 50%;
    z-index: 10;
  }

  #header-bar {
    div {
      &.democrat {
        @include textShadow;
        @include boxShadow;
        color: white;
        background-color: $democrat_blue;
      }
      &.republican {
        @include textShadow;
        @include boxShadow;
        color: white;
        background-color: $republican_red;
      }
    }
  }

}
