@import "mixins";

body {
  background-image: asset_url("stars.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

div {
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
  &.jumbotron {
    margin-bottom: 0;
    &.notice {
      @include boxShadow;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
    }
  }
}

div.panel-default {
  @include boxShadow;

  div.panel-body {
    img {
      @include boxShadow;
      max-height: 200px;
      margin-bottom: 15px;
    }
  }

  .list-group {
    margin-bottom: 0px;
  }

  .list-group-item-heading {
    font-weight: bold;
  }

  .btn.btn-democrat {
    background-color: $democrat_blue;
    color: whitesmoke;
    &:hover {
      background-color: $democrat_lighter;
    }
  }

  .btn.btn-republican {
    background-color: $republican_red;
    color: whitesmoke;
    &:hover {
      background-color: $republican_lighter;
    }
  }

  .carousel {
    max-height: 200px;
  }

  mark {
    &.blue {
      background-color: $democrat_blue;
      color: whitesmoke;
    }
    &.red {
      background-color: $republican_red;
      color: whitesmoke;
    }
    &.pos {
      background-color: rgb(32, 175, 0);
      color: whitesmoke;
    }
    &.neg {
      background-color: rgb(232, 116, 0);
      color: whitesmoke;
    }
  }

  &.democrat {
    border-color: $democrat_blue;
    div.panel-heading {
      color: white;
      background-color: $democrat_blue;
    }

    .list-group-item {
      border: 1px solid $democrat_blue;
    }
  }

  &.republican {
    border-color: $republican_red;
    div.panel-heading {
      color: white;
      background-color: $republican_red;
    }

    .list-group-item {
      border: 1px solid $republican_red;;
    }
  }
}
