@import "mixins";

body {
  background-image: asset_url("paper.jpg");
  background-size: cover;
}

div {
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
  &.jumbotron {
    margin-bottom: 0;
    &.notice {
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
    }
  }
}

div.panel-default {
  @include boxShadow;

  div.panel-body {
    img {
      @include boxShadow;
      max-height: 200px;
      margin-bottom: 15px;
    }
  }

  .list-group-item-heading {
    font-weight: bold;
  }

  .btn.btn-democrat {
    background-color: $democrat_blue;
    color: whitesmoke;
    &:hover {
      background-color: $democrat_lighter;
    }
  }

  .btn.btn-republican {
    background-color: $republican_red;
    color: whitesmoke;
    &:hover {
      background-color: $republican_lighter;
    }
  }

  &.democrat {
    border-color: $democrat_blue;
    div.panel-heading {
      color: white;
      background-color: $democrat_blue;
    }

    .list-group-item {
      border: 1px solid $democrat_blue;
    }
  }

  &.republican {
    border-color: $republican_red;
    div.panel-heading {
      color: white;
      background-color: $republican_red;
    }

    .list-group-item {
      border: 1px solid $republican_red;;
    }
  }
}
