<!-- Banner directive -->
<banner></banner>

<!-- Content -->
<div class="row">

  <!-- ****************** Hillary Bio ******************* -->
  <div class="col-md-6 col-xs-12">
    <ng-include src="appCtrl.hillary_bio"></ng-include>
  </div>

  <!-- ****************** Trump Bio ******************* -->
  <div class="col-md-6 col-xs-12">
    <ng-include src="appCtrl.trump_bio"></ng-include>
  </div>

  <!-- ****************** Expand All *********************** -->
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <button class="btn btn-block btn-neutral" ng-click="appCtrl.toggleAll()">Toggle All Sections</button>
  </div>

  <!-- ****************** Hillary Charts ******************* -->
  <div class="col-md-6 col-xs-12">
    <ng-include src="appCtrl.hillary_content"></ng-include>
  </div>

  <!-- ****************** Trump Charts ******************* -->
  <div class="col-md-6 col-xs-12">
    <ng-include src="appCtrl.trump_content"></ng-include>
  </div>

</div>
