@import "mixins";

body {
  background-image: asset_url("paper.jpg");
  background-size: cover;
}

div {
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
  &.jumbotron {
    margin-bottom: 0;
  }
}

div.panel-default {
  div.panel-body {
    img {
      @include boxShadow;
      max-height: 200px;
    }
  }

  &.democrat {
    border-color: $democrat_blue;
    div.panel-heading {
      color: white;
      background-color: $democrat_blue;
    }
  }

  &.republican {
    border-color: $republican_red;
    div.panel-heading {
      color: white;
      background-color: $republican_red;
    }
  }
}
