<div class="row">
  <div class="col-md-6 text-center box-plot">
    <span class="chart-title">Sentiment Intensity</span>
  </div>
  <div class="col-md-6 text-center pie-chart">
    <span class="chart-title">Positive/Negative Tweet Count</span>
  </div>
  <div class="col-md-12 text-center bubble-chart">
    <span class="chart-title">Key Word Bubble Chart</span>
  </div>
</div>
