<div class="row">
  <div id="box-plot" class="col-md-6 text-center">
    <span>Sentiment Intensity</span>
  </div>
  <div id="pie-chart" class="col-md-6 text-center">
    <span>Positive/Negative Tweet Count</span>
  </div>
</div>
