<div class="row">
  <div id="box-plot" class="col-md-6 text-center">
    <span class="chart-title">Sentiment Intensity</span>
  </div>
  <div id="pie-chart" class="col-md-6 text-center">
    <span class="chart-title">Positive/Negative Tweet Count</span>
  </div>
  <div id="bubble-chart" class="col-md-12 text-center">
    <span class="chart-title">Key Word Bubble Chart</span>
  </div>
</div>
