<!DOCTYPE html>
<html>
  <head>
    <title>Decision 2016 Debate Visualization</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <!--This is so the site looks good on mobile browsers-->
  <meta content="user-scalable=no,
                 initial-scale=1,
                 maximum-scale=1,
                 minimum-scale=1,
                 width=device-width,
                 height=device-height,
                 target-densitydpi=medium-dpi"
        name='viewport' />
  </head>
  <body ng-app="debate-visualization"
        ng-class="$state.current.name | dotToDash"
        ng-cloak>
    <div ui-view class="full-height container-fluid no-pad"></div>
  </body>
</html>
